.main {
  display: grid;
  margin-bottom: 71px;
  @include mobile-desktop {
    margin-bottom: 68px;
  }
}

.hero {

  margin-bottom: 70px;
  @include table {
    margin-bottom: 67px;
  }
  @include mobile {
    margin-bottom: 47px;
  }

  &__container {
    gap: 30px;
    grid-template-columns: repeat(12, 1fr);
  @include mobile-desktop {
  grid-template-columns: repeat(8, 1fr);
    }
  @include table {
    grid-template-columns: repeat(6, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile {
    row-gap: 37px;
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
  }

  &__primary-card {
    grid-column: span 6;
    @include mobile-desktop {
      grid-column: span 4;
    }
    @include table {
      grid-column: span 3;
    }
  }

  &__secondary-card {
    grid-column: span 6;
    @include mobile-desktop {
      grid-column: span 4;
    }
    @include table {
      grid-column: span 3;
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  &__subtitle {
    grid-column: span 2;
    margin-top: -4px;
    margin-bottom: 24px;
    font-family: TTFirsNeue;
    font-size: 24px;
    line-height: 1;

    @include table {
      margin-bottom: 16px;
      font-size: 22px;
      line-height: 24px;
    }

    @include mobile {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__img {
      width: 100%;
  }

  &__picture{
    margin-bottom: 24px;
    object-fit: cover;
    grid-column: span 2;
    @include table {
      margin-bottom: 27px;
    }
  }

  &__img--2 {
  }

  &__img--3 {
  }
}

.primary-card {
  @include mobile {
    min-height: 422px;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 60px;
    height: 100%;
    color: var(--white);
    @include mobile-desktop {
      padding: 30px;
    }
    @include mobile {
      padding-bottom: 33px;
    }
  }

  &__title {
    margin-bottom: 20px;
    max-width: 430px;
    font-family: TTFirsNeue;
    font-size: 36px;
    line-height: 1;

    @include mobile-desktop {
      font-size: 34px;
    }
    @include table {
      max-width: 240px;
    }
    @include mobile {
      margin-bottom: 14px;
      font-size: 24px;
    }
  }

  &__autor {
    order: -1;
    margin-bottom: 8px;
    line-height: 18px;
    @include mobile {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }

  &__picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: var(--dark-grey);
  }

  &__hashtag {
    top: 15px;
    right: 14px;
    @include mobile {
      top: 6px;
      right: 5px;
      padding: 3px 7px;
    }
  }
}

.about-us {
  margin-bottom: 66px;
  padding-top: 30px;
  padding-bottom: 69px;
  background-color: var(--primary-black);

  @include mobile-desktop {
    padding-bottom: 58px;
  }

  @include table {
    padding-bottom: 56px;
  }

  @include mobile {
    margin-bottom: 50px;
    padding-bottom: 61px;
  }

  &__container {
    column-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
  @include mobile-desktop {
  grid-template-columns: repeat(8, 1fr);
    }
  @include table {
    grid-template-columns: repeat(6, 1fr);
    // padding-bottom: 60px;
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    row-gap: none;
  }

  }

  &__title {
    grid-column: 1/-1;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 31px;
    color: var(--white);
    @include mobile {
      font-size: 18px;
      line-height: 23px;
    }
  }

  &__descr {
    grid-column: span 6;
    @include mobile-desktop {
      grid-column: span 4;
    }
    @include table {
      grid-column: span 3;
    }
    line-height: 1.77;
    color: var(--white);
    @include mobile {
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 24px;
    }
  }

  &__form-wrapper {
    grid-column: span 6;
    grid-template-rows: auto min-content;
    display: flex;
    flex-direction: column;

    @include mobile-desktop {
      grid-column: span 4;
    }
    @include table {
      grid-column: span 3;
    }
  }

  &__form-picture {
    margin-bottom: 19px;
    @include mobile {
      margin-bottom: 25px;
      max-height: 278px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mobile {
      min-height: 278px;
    }
  }

  &__form-title {
    margin-bottom: 16px;
    font-family: TTFirsNeue;
    font-size: 24px;
    line-height: 22px;
    font-weight: 400;
    color: var(--white);
    @include mobile {
      font-size: 18px;
    }
  }
}

.form-about-us {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;

  @include mobile {
    row-gap: 15px;
  }

  &__input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    grid-column: span 9;
    background-color: var(--dark-grey);
    color: var(--text-grey);
    @include mobile-desktop {
      flex-grow: 0;
      flex-basis: 342px;
    }
    @include table {
      flex-grow: 1;
    }
  }

  &__input::placeholder {
    @include mobile {
      font-size: 14px;
    }
  }

  &__btn {
    grid-column: span 3;
    @include mobile-desktop {
      grid-column: 1/-1;
      justify-self: start;
    }

  }
}

.project {

  margin-bottom: 70px;
  @include mobile {
    margin-bottom: 57px;
  }

  &__container {
  }

  &__title {
    margin-bottom: 12px;
    font-family: TTFirsNeue, Roboto;
    font-size: 24px;
    line-height: 31px;
    color: var(--primary-black);
    @include mobile {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 23px;
    }
  }

  &__items {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;
    gap: 30px;
    @include mobile-desktop {
      grid-template-columns: repeat(8, 1fr);
    }
    @include table {
      grid-template-columns: repeat(6, 1fr);
      row-gap: 27px;

    }
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 21px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;

    @include table {
      min-height: 300px;
    }
    @include mobile {
      min-height: auto;
    }
  }

  &__item-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 16px;
    line-height: 138%;
    font-weight: 400;
    @include mobile-desktop {
      -webkit-line-clamp: 2;
      margin-bottom: 18px;
    }
    @include table {
      -webkit-line-clamp: 3;
    }
    @include mobile {
      margin-bottom: 14px;
      -webkit-line-clamp: 2;
    }
  }

  &__item-time {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: 12px;
    line-height: 1;
    color: var(--text-grey);
    @include mobile {
      margin-bottom: 6px;
    }

    svg {
      width: 14px;
      height: 14px;
      fill: var(--dark-grey);
    }
  }

  &__item-picture{
    order: -1;
    flex: 1 1 auto;
    margin-bottom: 16px;
    max-height: 184px;
    background-color: var(--text-grey);
    @include mobile-desktop {
      margin-bottom: 20px;
    }
  }

  &__item-picture--big {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-bottom: 0;
    max-height: none;
  }

  &__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-hashtag {
    position: absolute;
    top: 7px;
    right: 7px;
    @include mobile {
      padding: 3px 14px;
    }
  }

  &__item-one {
    grid-column: 1/3;
    @include mobile-desktop {
      grid-column: 1/3;
    }
    @include table {
      grid-column: 1/3;
    }
  }

  &__item-two {
    grid-column: 3/5;
    @include mobile-desktop {
      grid-column: 3/5;
    }
    @include table {
      grid-column: 3/5;
    }
  }

  &__item-three {
    grid-column: 5/7;
    @include mobile-desktop {
      grid-column: 5/9;
    }
    @include table {
      grid-column: 5/7;
    }
  }

  &__item-four {
    padding: 21px 29px 26px;
    grid-column: 7/13;
    @include mobile-desktop {
      padding: 30px;
      grid-column: 1/6;
    }
    @include table {
      grid-column: 1/-1;
    }
    @include mobile {
      // padding-bottom: 28px;
    }
  }

  &__item-five {
    grid-column: 7/10;
    @include mobile-desktop {
      grid-column: 6/9;
    }
    @include table {
      grid-column: 1/4;
    }

  }

  &__item-six {
    grid-column: 10/13;
    @include mobile-desktop {
      grid-column: 1/4;
    }
    @include table {
      grid-column: 4/7;
    }
  }

  &__item-seven {
    grid-column: 1/7;
    padding: 23px 29px 22px;
    @include mobile-desktop {
      grid-column: 4/9;
      padding: 30px 30px 22px;
    }
    @include table {
      grid-column: 1/-1;
    }
  }

  &__item-four,
  &__item-seven {
    gap: 0;

    .project__item-time {
      margin-bottom: 5px;
      line-height: 22px;
      color: var(--white);
      order: -1;
      svg {
        fill: var(--white);
      }
    }
  }

  &__item {
    @include mobile {
      grid-column: 1/-1;
    }
  }

  &__item-title {
    margin-bottom: 6px;
    max-width: 292px;
    font-family: TTFirsNeue, Roboto;
    font-size: 24px;
    line-height: 1;
    color: var(--white);
    @include mobile {
      margin-bottom: 8px;
    }
  }

  &__item-descr {
    flex: 1 1 auto;
    max-width: 292px;
    line-height: 22px;
    color: var(--white);
    @include mobile {
      flex: none;
      margin-bottom: 5px;
    }
  }

  &__item-btn {
    align-self: flex-start;
    padding: 13px 20px;
    border: 3px solid var(--orange);
    color: var(--white);
    outline: none;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;

    @include mobile {
      padding: 10px 18px;
      font-size: 14px;
      line-height: 16px;
    }

    &:focus-visible {
      background-color: var(--orange);
    }

    &:hover {
      background-color: #BC572B;
    }

    &:active {
      border-color: #CE4307;
      background-color: #CE4307;
    }
  }



  &__item--big {
    @include mobile {
      min-height: 422px;
      justify-content: flex-end;
    }
  }
  &__item--medium {
   .project__item-text {
      @include mobile-desktop {
        -webkit-line-clamp: 3;
      }
    }
  }
}


.contacts {
  [class*="ground-pane"] {
    filter: grayscale(1);
  }

  [class*="copyright"] {
    display: none;
  }

  &__container {
    @include mobile {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 19px;
    font-size: 24px;
    line-height: 31px;
    color: var(--primary-black);
    @include mobile {
      margin-bottom: 13px;
      padding: 0 15px;
      font-size: 18px;
      line-height: 23px;
    }
  }

  &__grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    row-gap: 15px;
    @include mobile-desktop {
      grid-template-columns: repeat(8, 1fr);
    }
    @include table {
      row-gap: 26px;
    }
    @include mobile {
      row-gap: 22px;
    }
  }

  &__map-wrapper {
    grid-column: 1/9;
    position: relative;
    overflow: hidden;
    @include mobile-desktop {
      grid-column: 1/6;
    }
    @include table {
      grid-column: 1/-1;
    }
  }

  &__map {
    @include mobile {
      height: 472px !important;
    }
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 48%;
    background-color: rgba($color: #202020, $alpha: .85);
    transition: transform .5s ease-in-out;
    @include mobile-desktop {
      top: auto;
      width: 100%;
      max-width: none;
      height: auto;
      min-height: 157px;
      justify-content: flex-start;
    }
  }

  &__info--disabled {
    transform: translateX(-85%);
    @include mobile-desktop {
      transform: translateY(60%);
    }
  }

  &__info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    height: 100%;
    font-family: TTFirsNeue;
    @include mobile-desktop {
      min-height: 157px;
      padding-top: 25px;
      padding-left: 31px;
    }
    @include mobile {
      padding-left: 13px;
    }
  }

  &__info-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    color: var(--white);
    @include mobile-desktop {
      flex: 1 1 auto;
    }
    @include mobile {
      font-size: 18px;
    }
  }

  &__info-descr {
    margin-bottom: 11px;
    line-height: 1.75;
    color: var(--grey);
    @include mobile-desktop {
      max-width: 70%;
    }
    @include table {
      max-width: 63%;
    }
    @include mobile {
      max-width: none;
      margin-bottom: 3px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__info-tel {
    display: flex;
    align-items: center;
    column-gap: 2px;
    line-height: 21px;
    color: var(--white);
    @include mobile-desktop {
      color: var(--orange);
    }
    @include mobile {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__info-icon {
    width: 20px;
    height: 20px;
    fill: var(--white);
    @include mobile-desktop {
      fill: var(--orange);
    }
  }

  &__info-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: #666666;
    border-radius: 100%;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 1px;
      background-color: var(--white);
      transition: transform .5s ease-in-out, background-color  .5s ease-in-out;
      transform-origin: 100% 0;
    }

    &::before{
      transform: translate(-7px, -3.5px) rotate(-45deg);
    }
    &::after{
      transform: translate(-6px, 3.5px) rotate(45deg);

      }
  }

  &__info-btn--disabled {
    filter: drop-shadow(0 0 4px #FF6E30);
    &::before, &::after {
      background-color: var(--orange);
    }

    &::before{
      transform: translate(-7px, -0.5px) rotate(-45deg);
      @include mobile-desktop {
        transform: translate(-10px, -3.5px) rotate(-45deg);
      }
    }
    &::after{
      transform: translate(-6px, 0.5px) rotate(45deg);
      @include mobile-desktop {
        transform: translate(-3px, 3.5px) rotate(45deg);
      }
    }
  }


  &__form-wrapper {
    grid-column: 9/13;
    @include mobile-desktop {
      grid-column: 6/9;
    }
    @include table {
      grid-column: 1/-1;
    }
    @include mobile {
      padding: 0 15px;
    }
  }

  &__form-title {
    margin-bottom: 5px;
    color: var(--primary-black);
    font-family: TTFirsNeue;
    font-size: 24px;
    line-height: 22px;
    font-weight: 400;
    @include mobile {
      font-size: 18px;
      line-height: 23px;
    }
  }

  &__form-descr {
    margin-bottom: 14px;
    line-height: 22px;
    color: var(--text-grey);
    @include table {
      max-width: 466px;
    }
    @include mobile {
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.form-contacts {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  @include mobile {
    row-gap: 17px;
  }

  &__data {
    background-color: #E9E9E9;
  }

  &__data--input {
    width: 100%;
  }

  &__data--comments {
    flex-basis: 150px;
    resize: none;
  }

  &__btn {
    align-self: flex-start;
  }
}

