:root {
  --white: #ffffff;
  --primary-black: #202020;
  --secondary-black: #333333;
  --orange: #FF6E30;
  --orange-dark: #CE4307;
  --grey: #CACACA;
  --text-grey: #999999;
  --dark-grey: #4a4a4a;
}
